header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.first{
    display: flex;
}
.middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.middle select{
    display: flex;
    width: 100px;
    height: 30px;
}
.middle ul{
    list-style: none;
    display:flex;
    justify-content:space-around ;
    gap: 40px ;
}
.last{
    display: flex;
}
.last span{
    display: flex;
    justify-content: center;
    align-items:center ;
    
}
.outer{
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color: rgb(132, 167, 161);
}
.inner1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    

}
.inner1 button{
    background: #7f7575;
    border-radius: 10px ;
    padding:10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
.inner2{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.inner2 img{
    
    background-position: cover;
    height: 100%;
}
.products .product{
    padding-top: 50px;
    display: flex;
    justify-content:space-around;
    
}
.card img{
    background-position: cover;
    height: 100%;
}
.products .button {
    width: 100%;
    margin-top: 80px;
    padding: 10px ;
    display: flex;
    justify-content: center;
}
.button button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7f7575;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.card .price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .card .price .sprice {
    display: flex;
    gap: 5px;
  }
  .price .sprice .cut {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .card {
    position: relative;
  }
  .card img {
    height: 100%;
    width: 100%;
    background-position: cover;
  }
.sale{
    position:absolute;
    top:10px;
    left:0;
    min-height: 20px;
    width: 70px;
    text-align: center;
    padding:10px;
    color:white;
    background-color:#7f7575;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(132, 167, 161);
    height: 100%;
    width: 100%;
}
.footer1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.footer2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer2 h2{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.footer2 ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: 20px;
}
.footer ul li{ 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
}
.footer3{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}
.footer3 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}